* {
  box-sizing: border-box;

}
body {
  margin: 0;
}
/* Estilos de la barra de navegación */
.topnav {

  overflow: hidden;
  background-color: rgba(221, 221, 221, 0.822);
  position: fixed;
  z-index: 2;
}
/* Estilos de los a de navegación */
.topnav a {
  
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*Color rojo del boton inicio de navegacíón*/
.a_acerca{
  background-color: rgb(250, 71, 71);
  color: #ffff;
}
/* Hover de navegacion */
.topnav a:hover {
  background-color: rgba(248, 229, 229, 0.568);
  color: black;
}
/*Estilos del fondo de la portada*/
.imagen_portada{
  background-image: url(img/fondotemporal.gif);
  background-size: 100%;
  background-position-y: 0%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(0, 0, 0);
  height: 600px; /* Should be removed. Only for demonstration */
  margin: 0px;
}

/*Texto que sale al pasar el mouse encima*/
.tooltip {
  position: relative;
  display: inline-block;
  padding-top: 15%;
  font-family: 'Allerta Stencil', sans-serif;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: rgb(250, 71, 71);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 1px 0;
  position: absolute;
  z-index: 1;
  bottom: 30%;
  left: 100px;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  rgb(250, 71, 71) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.text_portada{
  font-family: 'Allerta Stencil', sans-serif;
}
/*Texto que acompaña nombre*/
.description{
  padding-right: 70%;
  padding-left: 1%;
  font-size: 22px;
}
/*Nombre*/
.name_portada{
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
  margin-left: 0%;
  background-color: rgba(19, 18, 18, 0.61);
  color: #ffffff;
}


.center{
  text-align: center;
}
/*estilos hobbies*/

.hobbies_title{
  padding-top: 2%;
  font-family: 'Allerta Stencil', sans-serif;
  color: #ccc;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Estilos del contenido de acerca de*/
.ContentAcerca {
  background-color: rgb(133, 132, 132);
  color: rgb(32, 29, 29);
  
  height: 200px; 
}

.Espacio{
  background-color: darkgray;
}

.container_hab{
  padding-left: 50px;
}


/*menu movil*/
#btn-mas{
  display: none;
}
.container_redes{
  position: fixed;
  bottom: 30px;
  left: 30px;
}
.redes a, .icon-mas2{
  display: block;
  text-decoration: none;
  background: rgb(250, 71, 71);
  color: #fff;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
  transition: all 500ms ease;
}
.redes a:hover{
  background: rgb(59, 59, 59);
  color: #ffffff;
}
.redes a{
  margin-bottom: -15px;
  opacity: 0;
  visibility: hidden;
}
#btn-mas:checked~ .redes a{
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}
.icon-mas2{
  cursor: pointer;
  background: rgb(39, 36, 36);
  font-size: 23px;
}
#btn-mas:checked ~ .btn-mas .icon-mas2{
  transform: rotate(137deg);
  font-size: 25px;
}

/*Habilidades*/

.habilidades{
  background-color: #797979;
  background-size: 100%;
  background-repeat: repeat;
  text-decoration: none;
}
.skills {
  text-align: center; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
  text-decoration: none;
}

.html {width: 90%; background-color: #f44336;} /* Green */
.css {width: 90%; background-color: #4e4e4e;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.py {width: 60%; background-color: #4e4e4e;} /* Dark Grey */


/*Boton leer mas*/
.button {
  border-radius: 4px;
  background-color: #f1eae8;
  border: none;
  color: #2b2a2a;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/* The grid: Three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.containerTab {
  padding: 20px;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the container tab */
.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.contact{
  background-color:  rgb(32, 32, 32);;
}

/*Estilos del formulario*/
.input_form[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.input_form_email[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.label_form {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #f44336;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color:#4e4e4e;
}

.container_form {
  border-radius: 5px;
  background-color: #b8b8b8;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* footer */
.footer {
  background-color: #f1f1f167;
  padding: 10px;
  text-align: center;
}

.perfil_flotante{
  position: fixed;
  top: 0.1%;
  right: 1%;
  text-align: center;
  color: #ccc;
  
}

#mybtn{}

.boton_biografia{
  background:    #000000;
border:        1px solid #ffffff;
border-radius: 11px;
width:         100px;
height:        35px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 14px/35px "Ubuntu", sans-serif;
text-align:    center;
}

.boton_biografia:hover{
  background:    #272727;
  box-shadow:    0 5px #7c7c7c;
  text-align:    center;
}

.foto_perfil:hover{
  -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(1px);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  color: #000;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #000000;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #000000;
  color: white;
}