* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 0;
}

/* Style the top navigation bar */
.topnav {

  overflow: hidden;
  background-color: rgba(221, 221, 221, 0.116);
}
/* Style the topnav links */
.topnav a {
  
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.texto{}

.inicio{
  background-color: rgb(250, 71, 71);
  color: #ffff;
}
/* Change color on hover */


.topnav a:hover {
  background-color: rgba(248, 229, 229, 0.568);
  color: black;
}

.imagen{
  background-image: url(img/sebastianmirandoasuizq.jpg);
  background-size: 100%;
  background-position-y: 25%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(0, 0, 0);
  padding: 10px;
  height: 600px; /* Should be removed. Only for demonstration */
}

.center{
  text-align: center;
}

.izquierda{

}
/* Style the content */
.content {
  background-color: rgb(32, 32, 32);
  color: #ffff;
  padding: 30px;
  height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}
